@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

* {padding: 0; margin: 0; list-style: none;}
img{
  max-width: 100%;
}

body{
  width: 100%;
  height: auto;
  background: #f9f8f8;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0 auto;

}

/**** Nav CSS goes Here ****/

.header{
  background: #ffffff;
  padding: 0.8em 0em;
  box-shadow: -1px 2px 2px -1px rgba(34,34,34,.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container{
  width: 80vw;
  margin: 0 auto;
}


.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 0 0 .45em;
}

.logo a {
  color: rgb(28, 24, 22);
}

.logo a img{
  width: 230px;
}

.logo, .navigation {
  list-style: none;
}

.logo a, .navigation a {
  text-decoration: none;
  letter-spacing: .45rem;
  
}

.navigation  {
  display: flex;
  flex-wrap: wrap;
}

.navigation li:last-of-type a{
  border-right: none;
}

.navigation a {
  display: block;
  padding: 0em 1em;
  color: black;
  border-right: 1px solid rgba(0,0,0, 0.2);
}

.navigation a:hover {
  color: #00ace6;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
    margin: 0;
  }
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {

  .logo a img{
    margin: .25em 0;
    align-self: center; /* align the logo to the left side of 'flex-container' */
  }
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    border-right: 0px solid #000;
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


/**** About Section CSS***/

.story{
  background: url(../img/story-bg.png);
  text-align: center;
  padding: 2em 0;
  width: 100%;
  margin-bottom: 2em;
  
}
.title{
  margin-bottom: 2em;
  font-size: 55px;
}
.story-para{
  font-size: 18px;
  padding: 20px 20px 0;
  line-height: 2;
}

/*** Team Area CSS Is Here ***/
.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 80%;
  max-width: 1280px;
  height: 250px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tabs ul li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 25%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #222222;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428BFF;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #222222;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #222222;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #222222;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #222222;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #222222;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #222222;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #222222;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #222222;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}


/*** Coin Section CSS Here**/

.coin-section{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
  margin-top: 2em;

}
.top-coins{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em 1em;
  flex-wrap: wrap; 
}
.top-coins span{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.top-coins span:last-child{
  color: red;
}


/** Crypto Section Css Goes Here***/

.crypto-section{
  margin-top: 8em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-part{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 2em;
}
.crypto-title{
  font-size: 4em;
}
.tag{
  font-size: 3em;
}
.qoute{
  font-size: 24px;
}
.form-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
}
.row1{
  width: 100%;
  text-align: right;
}
.row1 > span{}
.row2{
  background: url(../img/bg.png)no-repeat center;
  width: 100%;
  background-size: cover;
  padding: 15px 0 30px 10px;
  margin: 0;
  border-radius: 20px!important;
  width: 100%;
  box-shadow: 0 0 21.17px 7.83px rgba(29,29,29,.19);
}
.row3{
  position: relative;
}
.row3 img{
  /*background: url(../img/rect1.png)no-repeat;*/
}
.form{
  display: flex;
  justify-content: space-around;
  padding: 1em 2em;
  position: relative;
}
.form-left{
  display: flex;
  flex-direction: column;
  flex: 1; 
}
.ytext{
  color: #fff;
  font-size: 23px;
  padding-left: 6px;
  font-weight: 100;
}
.selected{
  width: 92%;
  padding: 0 10px;
  background-color: #fff;
  height: 60px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
}
.form-right{
  display: flex;
  flex-direction: column;
  flex: 1;

}
.start-btn{
 position: absolute;
 top: 10%;
 left: 16%;
 background: url(../img/rect1.png)no-repeat;
 border: 0px;
 width: 100%;
 height: 100%;
 cursor: pointer;
}
/*.start-btn:hover{
  background: url(../img/rect2.png)no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  }*/
  .start-btn span{
    color: #fff;
    position: absolute;
    top: 20px;
    left: 27%;
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  .icon1{
    position: absolute;
    width: 30px;
    left: 40%;
    top: 62px;
  }
  .icon2{
    position: absolute;
    width: 30px;
    right: 11%;
    top: 62px;
  }

  /*** partner CSS is Here***/

  .partner{
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .partner-title{
    font-size: 34px;
    font-weight: 600;
    display: flex;
  }
  /*.partner-title::after{
    width: 37%;
    height: 2px;
    background:#000;
    display: block;
    content: '';
    position: absolute;
    right: 80px;
    bottom: -10px;

    }*/
    .partner-logo{
      margin-top: 1em;
    }
    .partner-logo img{
      max-height: 80px;
      margin-right: 1em;
      vertical-align: middle;

    }



    /**** Login Form Style Is Here ***/

    .form-title, input::-webkit-input-placeholder, button {
      font-family: 'roboto', sans-serif;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .form-title {
      width: 100%;
      font-size: 18px;
      background: #282828;
      color: white;
      line-height: 150%;
      border-radius: 3px 3px 0 0;
      -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
    }

    .exchange-form {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 15% auto 0;
      -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
      padding-bottom: 40px;
      border-radius: 3px;
    }
    .exchange-form h1 {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px;
    }

    input {
      margin: 40px 25px;
      width: 96%;
      display: block;
      border: none;
      padding: 17px 0;
      border-bottom: solid 1px #282828;
      -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #1abc9c));
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #282828 4%);
      background-position: -1200px 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #282828;
    }
    input:focus, input:valid {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      background-position: 0 0;
    }
    input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
      color: #282828;
      font-size: 11px;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      visibility: visible !important;
    }

    .transection-btn {
      border: none;
      background: #282828;
      cursor: pointer;
      border-radius: 3px;
      padding: 12px;
      width: 200px;
      color: white;
      margin-left: 25px;
      -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }
    .transection-btn:hover {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
      -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    }

    .follow {
      width: 42px;
      height: 42px;
      border-radius: 50px;
      background: #03A9F4;
      display: inline-block;
      margin: 20px calc(50% - 10px);
      white-space: nowrap;
      padding: 13px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: white;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      font-family: Roboto, sans-serif;
      text-decoration: none;
      -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    }
    .follow i {
      margin-right: 20px;
      -webkit-transition: margin-right 0.2s ease;
      transition: margin-right 0.2s ease;
    }
    .follow:hover {
      width: 134px;
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
    }
    .follow:hover i {
      margin-right: 10px;
    }


    /*** Footer Area CSS**/

    .footer{
     background: #efefef;
     padding: 25px 15px;
     box-shadow: 0 6px 4px -4px rgba(34,34,34,.2);
     margin-top: 2%;
   }
   .footer-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .contact{}
  .contact > h3{
    text-transform: uppercase;
  }
  .address{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #71737a;
    padding: 11px 0;
  }
  .road{
    margin-bottom: 0.8em;
  }
  .mail{}
  .social-icon{}
  .social-icon a{
    font-size: 19px;
    color: black;
    padding: 0px 3px;
  }

  .nav-link{
    display: flex;
    flex-direction: column;
  }
  .nav-link > h3{
    text-transform: uppercase;
  }
  .nav-link  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link  ul li{

  }
  .nav-link  ul li a{
    text-decoration: none;
    color: #222222;
    line-height: 33px;
  }

  .footer-bottom{
    padding: 20px 0;
  }
  .b-flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .b-flex-container span{}
  .b-flex-container span a{
    text-decoration: none;
  }
